body{
    margin: 0;
    box-sizing: border-box;
}

/* loader */

.load{
    Width:100%;
    margin: 100% auto;
    display: flex;
    position: fixed;
    justify-content: center;
}

.load__dot{
    width: 70px;
    height:70px;
    border-radius:50%;
}
  
.load--dot1{
    background-color:#9356DC ;
    animation:jump-up 0.8s 0.1s ease forwards;
    animation-iteration-count: 3;
}
  
.load--dot2{
    background-color:#FF79DA ;
    animation:jump-up 0.8s 0.2s ease forwards;
    animation-iteration-count: 3;
}
  
.load--dot3{
    background-color:#99E2D0;
    animation:jump-up 0.8s 0.3s ease forwards;
    animation-iteration-count: 3;
}

body > *{
    animation: refresh 3.5s  ease-in;
}

@keyframes jump-up{
    0%{
        opacity: 1;
    }

    50%{
      transform: translate(0,100px);
    }

    80%{
        opacity: 0.5;
    }

    100%{
    opacity: 0;
    display: none;
    }
}

@keyframes refresh{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

/* header */

header{
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
}

/* search-area */

.order__selection{
    padding: 1rem 0;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
}


.order__selection--searchinput{
    border: none;
    margin-left: 2%;
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin-left: 2rem;
    font-weight: bold;
}

.order__selection i{
    margin-left: 2rem;
}

input::placeholder{
    color: black;
    transition: color 0.5s ease;
}

input:focus::placeholder{
    color: transparent;
}

.order__search h2{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 30px;
}

.order__search h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    
}

.order{
    background-color: #f6f6f6;
    height: 20rem;
}

.order__search button{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    background: linear-gradient(to top left, #9356DC,#FF79DA);
    border: none;
    transition: transform 400ms;
}

.order__search button:hover{
    transform: scale(1.2);
    background: linear-gradient(to top right, #9356DC,#FF79DA);
}


/* rules-area */

.rules h2{
font-family: 'Roboto', sans-serif;
font-size: 20px;
margin: 50px 0 10px 20px;
}

.rules__steps{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: auto;
    border-radius: 1rem;
    margin: 0 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    position: relative;
}

.rules__steps:hover{
    background-color: #f5edff;
}

.rules__steps:hover > .rules__icon{
    color: #9356dc;
}


.rules__icon{
    padding: 0 2rem;
}

.rules__icon1{
    padding: 0 2.2rem;
}

.rules__numb{
    background-color: #9356dc;
    padding: 4px 9px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    top: 35px;
    z-index: 2;
    color: white;
}


/* restaurant-area */

.restaurants{
    background-color:#f6f6f6;
    padding-bottom: 5rem;
}

.restaurants h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 30px 20px;
    padding-top: 2.5rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap:10px;
    }

.card__properties{
    margin: 0 1rem;
    position: relative;
}

.card__properties a{
    text-decoration: none;
}

.card__properties h3{
    display: none;
}

.card__img{
    margin: 0;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px rgb(0 0 0 /20%);
    height: auto;
    width: 100%;
    background-color: white;
    position: relative;
}

.card__img img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.card__img p{
    margin: 0 0 0 1rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}

.card--stickers{
    position: absolute;
    top: 15%;
    right: 5%;
    background-color: #99e2d0;
    color: #008766;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .1);
}

figcaption{
    position:relative;
}

.card__text :nth-child(1){
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin:1rem 0 0.5rem 1rem;
}

.card__text :nth-child(2){
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;

}

.heart1{
    position: relative;

}

.heart2{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    background: linear-gradient(to bottom right, #9356DC,#FF79DA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heart2:hover{
    opacity:1;
}

.card--heart{
    font-size: 20px;
    display: flex;
    position: absolute;
    bottom:15%;
    right: 5%;
    cursor: pointer;
}


/* footer */


footer{
    background-color: #353535;
}


.footer__title{
color: white;
font-family: 'Shrikhand', cursive;
margin-left: 20px;
margin-top: 0;
padding-top: 2rem;
}

.footer__section{
    color: white;
    display: flex;
    align-items: baseline;
    font-weight: bold;
}

.footer__section p{
margin: 0;
}

.footer--icon1 :nth-child(1){
    padding: 0 20px 10px 20px;
}


.footer--icon2 :nth-child(1){
    padding: 0 13px 10px 20px;

}


.mentions{
    padding-left: 20px;
    color: white;
    margin: 5px 0;
}

.contact{
    padding-left: 20px;
    color: white;
    padding: 5px 0 20px 20px;
    margin: 0;
}








































    
