/* A la francaise */

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1220px;
}

main{
    background-color: #f6f6f6; 
}

/* header */

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0 1rem;
    align-items: center;
    justify-items: center;
    
}

header :nth-child(1){
    color: black;
    font-size: 1.5rem;
}

/* dish image */
.dish{
margin: 0;
}

.dish img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    margin: 0;
}

/* dish name */

section{
    background-color: #f6f6f6;
}

.dish__name{
    bottom: 2rem; 
    display: flex;
    padding: 2rem 2rem 0 1rem;
    position: relative;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0 ;
    align-items: center;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
}

.dish__name h1{
margin: 0;
}

.heart1{
    position: relative;
}

.heart2{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    background: linear-gradient(to bottom right, #9356DC,#FF79DA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heart2:hover{
    opacity:1;
}

.card--heart{
    font-size: 20px;
    display: flex;
    position: absolute;
    bottom:15%;
    right: 5%;
    cursor: pointer;
}

/* container menu & animation prix*/

.section{
    transform: translateY(-2rem);
    padding-bottom: 5rem;
}

.section h2{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-top: 1rem;
    margin-left: 1rem;
}


.container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .1);
    margin: 1rem auto;
    width: 95%;
}

.container__description p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 3%;
    width: 100%;
}

.container__description :nth-child(1){
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 0 0px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.container__description :nth-child(2){
    font-size: 0.9rem;
    margin: 10px 0 20px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container__prix{
display: flex;
align-items: flex-end;
padding-right: 1.5rem;
margin-bottom: 5px;
}

.container:hover >.container__description{
    width: 60%;
}

.container:hover > .container__prix{
    transition: all 1s cubic-bezier(0,.98,.39,1);
    margin-right: 18%;
}


/* apparition des menus */

.animation1{
    animation: appear 0.8s cubic-bezier(0,1,1,1);
    animation-delay: 0.20s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.animation2{
    animation: appear2 0.8s cubic-bezier(0,1,1,1);
    animation-delay: 0.40s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.animation3{
    animation: appear3 0.8s cubic-bezier(0,1,1,1);
    animation-delay: 0.60s;
    opacity: 0;
    animation-fill-mode:forwards;
}

.animation4{
    animation: appear3 0.8s cubic-bezier(0,1,1,1);
    animation-delay: 0.80s;
    opacity: 0;
    animation-fill-mode:forwards;
}


@keyframes appear{
    0%{
        transform:translateY(5rem)
        
    }

    100%{
        opacity:1;
        transform:translateY(0rem);
    }
}

@keyframes appear2{
    0%{
        opacity:0;
        transform:translateY(5rem)
    }

    100%{
        opacity:1;
        transform:translateY(0rem)
    }
}

@keyframes appear3{
    0%{
        opacity:0;
        transform:translateY(5rem)
    }

    100%{
        opacity:1;
        transform:translateY(0rem)
    }
}

@keyframes appear4{
    0%{
        opacity:0;
        transform:translateY(5rem)
    }

    100%{
        opacity:1;
        transform:translateY(0rem)
    }
}


/* check & rotation check */
.container:hover > .check > .fa-check-circle{
    transform: rotate(2turn);
    transition: transform 1s;
}

.check{
    width: 2%;
    position: absolute;
    right:-4rem;
    background-color:#99e2d0;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

.check i{
    font-size: 1.5rem;
    color:white;
}

.container:hover > .check{
    transform: scaleX(1);
    transition: all 1s cubic-bezier(0,.98,.39,1);
    width: 20%;
    right:0;   
}

.fa-check-circle{
    transform: rotate(1turn);
    transition: transform 0.8s;
}

/* underline & underline aniamtion  */

.underline{
    width: 3.5rem;
    height: 2px;
    background-color: #99e2d0;
    position:relative;
    top:-21rem;
    margin-left: 1rem;
}

.checkorther1:hover ~.underline{
    width: 6.5rem;
    height: 2px;
}

.underline2{
    width: 3.5rem;
    height: 2px;
    background-color: #99e2d0;
    position:relative;
    top:-21rem;
    margin-left: 1rem;
}

.checkorther2:hover ~.underline2{
    width: 4.5rem;
    height: 2px;
}

.underline3{
    width: 3.5rem;
    height: 2px;
    background-color: #99e2d0;
    position:relative;
    top:-21rem;
    margin-left: 1rem;
}

.checkorther3:hover ~.underline3{
    width: 7.5rem;
    height: 2px;
}

/* boutton */

.btn{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    background: linear-gradient(to top left, #9356DC,#FF79DA);
    border: none;
    transition: transform 400ms;
}

.btn:hover{
    transform: scale(1.2);
    background: linear-gradient(to top right, #9356DC,#FF79DA);
}

/* footer */


footer{
    background-color: #353535;
}


.footer__title{
color: white;
font-family: 'Shrikhand', cursive;
margin-left: 20px;
margin-top: 0;
padding-top: 2rem;
}

.footer__section{
    color: white;
    display: flex;
    align-items: baseline;
    font-weight: bold;
}

.footer__section p{
margin: 0;
}

.footer--icon1 :nth-child(1){
    padding: 0 20px 10px 20px;
}


.footer--icon2 :nth-child(1){
    padding: 0 13px 10px 20px;

}

.mentions{
    padding-left: 20px;
    color: white;
    margin: 5px 0;
}

.contact{
    padding-left: 20px;
    color: white;
    padding: 5px 0 20px 20px;
    margin: 0;
}









