body{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
}

.select-area{
    display: flex;
    padding: 1rem 0;
    background-color: #eaeaea;
    justify-content: center;
}

.searchinput{
    border: none;
    margin-left: 2%;
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

input::placeholder{
    color: black;
    transition: color 0.5s ease;
}

input:focus::placeholder{
    color: transparent;
}

.search-area h2{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 30px;
}

.search-area h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    
}

.section1{
    background-color: #f6f6f6;
    height: 20rem;
}

.btn{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #a75ddc;
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    /* background-image: linear-gradient(green blue) */
}

.section2 h2{
font-family: 'Roboto', sans-serif;
font-size: 20px;
margin: 10px 10px;
}

.steps{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: auto;
    border-radius: 1rem;
    margin: 0 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
}

.steps:hover{
    background-color: #f5edff;
}

.fa{
    padding: 0 2rem;
}

.fa-list-ul{
    padding: 0 1.7rem 0 2rem;
}

.numb{
    background-color: #9356dc;
    padding: 4px 9px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    top: 35px;
    z-index: 2;
    color: white;
}

.section3 h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 30px 10px;
    padding-top: 2rem;
}

.section3{
    background-color:#f6f6f6;
    padding-bottom: 5rem;
}

.article-section3 h3{
    display: none;
}

.card-section3{
    margin: 0;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px rgb(0 0 0 / 20%);
    height: auto;
    width: 100%;
    background-color: white;
    position: relative;
}

.card-section3 img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.cards{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-gap: 1rem;
}

.article-section3{
margin: 0 1rem;
}

.text-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.article-section3 a{
    text-decoration: none;
}

.card-section3 p{
    margin: 2px 0 1px 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.stickers{
    position: absolute;
    bottom: 75%;
    left: 70%;
    background-color: #99e2d0;
    color: #008766;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .1);
}

.fa-heart-0{
    cursor: pointer;
}



footer{
    background-color: #353535;
}

.footer-title{
color: white;
font-family: 'Shrikhand', cursive;
margin-left: 20px;
margin-top: 0;
padding-top: 3rem;
}

.share{
    color: white;
    display: flex;
    align-items: center;
}

.colaboration{
    color: white;
    display: flex;
    align-items: center;
}

.share i{
    padding-right: 15px;
}

.colaboration i{
    padding-right: 10px;
}

.share p{
    margin: 0;
}

.mentions{
    padding-left: 30px;
    color: white;
    margin-top: 0;
}

.contact{
    color: white;
    padding: 0 0 30px 30px;
    margin-bottom: 0;
}












































    
